$primary-color: rgb(218, 23, 91);
$secondary-color: rgb(105, 235, 85);
$grey: lighten(black, 50%);

.btn {
    padding: 10px 20px;
    border-radius: 10px;
    color: black;
    border: 2px solid;
    &.btn-primary {
        color: white;
        background-color: $primary-color;
        border-color: $primary-color;
    }
    &.btn-secondary {
        color: white;
        background-color: $secondary-color;
        border-color: $secondary-color;
    }
    &.btn-grey {
        color: white;
        background-color: $grey;
    }
    .text {
        text-transform: uppercase;
    }
}

.navbar {
    background-color: $primary-color;
}

.title {
    color: $primary-color;
    font-family: 'Open Sans', sans-serif;
}